body {
    background-color: black;
    color: lime;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

h1 {
    color: yellow;
    text-shadow: 2px 2px red;
}

marquee {
    font-size: 20px;
    color: cyan;
    font-weight: bold;
}

a {
    font-size: 20px;
    color: magenta;
    font-weight: bold;
}

