body {
    background-color: black;
    color: lime;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
}

h1 {
    color: yellow;
    text-shadow: 2px 2px red;
}

marquee {
    font-size: 20px;
    color: cyan;
    font-weight: bold;
}

a {
    font-size: 20px;
    color: magenta;
    font-weight: bold;
}

#piloto {
    width: 150px;
    height: auto;
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

#snoopybutton {
    background-color: lime;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid yellow;
    padding: 10px 20px;
    cursor: pointer;
    text-shadow: 1px 1px red;
    transition: background-color 0.3s, color 0.3s;
}

#snoopybutton:hover {
    background-color: yellow;
    color: black;
}

body {
    cursor: url('assets/cursor.cur'), auto;
}

.snoopy-text-box, .wannabe-text-box {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    margin: 10px;
    display: none; /* Asegúrate de que inicialmente estén ocultos */
}

.mostrar {
    display: block; /* Clase para mostrar los cuadros de texto */
}

#snoopydance {
    display: none;
    width: 200px; 
    height: 200px;
}
