<!DOCTYPE html>
<html lang="es">olor: black;
<head>lor: lime;
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="iconosnoopy.ico">
</head>sor: url('assets/cursor.cur'), auto;
<body>
    <h1>🎉 Bienvenido a mi página noventera 🎉</h1>
    <marquee>🌟 ¡Mira cómo este texto se mueve! 🌟</marquee>
    color: yellow;
    <p class="verde">Tributo bonito a los sitios web de los 90s. ¡Deja que te guíe la nostalgia!</p>
}
    <img src="https://media.giphy.com/media/J93sVmfYBtsRi/giphy.gif">
marquee {
    <br><br>e: 20px;
    <p><a href="https://www.youtube.com/watch?v=gJLIiF15wjQ" target="_blank">Haz clic aquí para ver algo genial</a></p>
    <br><br>ght: bold;
}
    <button id="snoopybutton">Haz click para ver a Snoopy</button>
    <img id="piloto" src="piloto.png" style="display:none; position:absolute; opacity:0; transition: opacity 1s;">
    <script src="script.js"></script>
    color: magenta;
    <div id="content-container">
        <div class="text-container">
            <div id="fact1" class="snoopy-text-box"></div>
            <div id="fact2" class="wannabe-text-box"></div>
        </div>px;
        <img id="snoopydance" src="assets/snoopydance.gif" style="display:none;">
    </div>on: absolute;
    display: none;
    <br><br> 0;
</body>nsition: opacity 1s;
</html>

#snoopybutton {
    background-color: lime;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid yellow;
    padding: 10px 20px;
    cursor: pointer;
    text-shadow: 1px 1px red;
    transition: background-color 0.3s, color 0.3s;
}

#snoopybutton:hover {
    background-color: yellow;
    color: black;
}

.snoopy-text-box, .wannabe-text-box {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    margin: 10px;
    display: none; /* Asegúrate de que inicialmente estén ocultos */
}

.mostrar {
    display: block; /* Clase para mostrar los cuadros de texto */
}

#snoopydance {
    display: none;
    width: 200px; 
    height: 200px;
}

/* Nuevo estilo para organizar los elementos */
#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
